<menu>
    <h2> 
        <i class="uil uil-apple"></i>
        Brand Name
    </h2>
    <ul>
        <li>
            <a href="">
                <i class="uil uil-house-user"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-users-alt"></i>
                 Customer
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-comment"></i>
                 Messages
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-question-circle"></i>
                 Help
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-setting"></i>
                 Settings
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-lock"></i>
                Password
            </a>
        </li>
        <li>
            <a href="">
                <i class="uil uil-signout"></i>
                Sign Out 
            </a>
        </li>
    </ul>

</menu>
