@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,600;0,900;1,800&family=Oxygen:wght@400;700&display=swap');
    

@import './assets/variables';
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

body{    background-color: map-get($colors, secondary);
    height: 100vh;
    width: 100vw;
}